@font-face {
  font-family: lavish;
  src: url('../assets/LavishlyYours-Regular.ttf');
}

@font-face {
  font-family: josefin;
  src: url('../assets/JosefinSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: quicksand;
  src: url('../assets/Quicksand-Light.ttf');
}

* {
  color: #F8EDE6;
  margin: 0 auto;
  text-align: center;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: quicksand
}

a {
  text-decoration: none;
}

body {
  background-image: url('../assets/backsplash.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #043044;
  background-position: center;
  background-size: contain;
}

.underline {
  width: 40vw;
  margin-top: -60px;
  margin-bottom: 20vh;
}

.overline {
  width: 40vw;
  margin: 20vh auto -60px auto;
  transform: scaleY(-1);
}

.flourish {
  width: 360px;
  margin: 10px auto 10px auto;
}

#last {
  margin-bottom: 15vh;
}

.enter {
  font-size: 24px;
  border: 1px solid #F8EDE6;
  padding: 10px;
  font-family: josefin;
}

.next {
  font-size: 24px;
  border: 1px solid #F8EDE6;
  padding: 10px;
  bottom: 0;
  margin-bottom: 20px;
  font-family: josefin;
}

.Header {
  background-color: rgb(4, 48, 68, .8);
  margin-bottom: 50vh;
  height: 100vh;
}

.Header h1 {
  font-size: 90px;
  font-family: lavish;
  font-weight: 500;
  margin-bottom: -10px;
}

.Header h2 {
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 30px;
  font-family: josefin;
}

.Content {
  background-color: rgb(4, 48, 68, .8);
  margin-bottom: 50vh;
  min-height: 100vh;
}

.Content h1 {
  width: 50%;
  font-weight: 100;
  font-size: 48px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 80px;
  font-family: josefin;
}

.content_text {
  width: 50%;
  line-height: 1.5;
  font-size: 24px;
  padding: 20px;
  background-color: rgb(4, 48, 68, .4);
}


