
#contact-form {
  background-color: #171717;
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  font-size: 24px;
  text-align: left;
  padding: 10px 20px 30px 20px;
  width:50%;
  border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  margin: 20px auto;
  color: #171717;
}

#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
  font-size: 15px;  
  margin-bottom: 2px;
  font-family: Arial, san-serif;
  color: #171717;
} 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
  width:100%;
  background: #EEE5E9;
  border: 0; 
  -moz-border-radius: 4px;  
  -webkit-border-radius: 4px;  
  border-radius: 4px;
  margin-bottom: 25px;  
  padding: 5px;  
}  
#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus {  
background-color: #F1EFE7; 
}  
#contact-form textarea {
  height: 150px;
}
#contact-form button[type="submit"] {
  cursor:pointer;
  width:20%;
  border:none;
  background:#a62b3a;
  color:#F1EFE7;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}
#contact-form button[type="submit"]:hover {
  background-color: #F1EFE7;
  color: #171717;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

input:required, textarea:required {  
  box-shadow: none;
  -moz-box-shadow: none;  
  -webkit-box-shadow: none;  
  -o-box-shadow: none;  
} 
#contact-form .required {  
  color: #F1EFE7;      
}


@media only screen and (max-width: 580px) {

#contact-form{
      font-size: 24px;
      padding: 5px 5px 20px 10px;
      margin: 10px auto 10px auto;
      width: 85%;
  }

  #contact-form input,  
  #contact-form textarea { 
  width:95%;
} 
  
  #contact-form select {
    width: 98%;

}
  #contact-form button[type="submit"] {
    width:95%;
  }
}