@font-face {
  font-family: rollerCoaster;
  src: url(../assets/Roller\ Coaster.ttf);
}

* {
  text-align: center;
  margin: 0 auto;
}

.nav_link {
  font-family: rollerCoaster;
  font-size: 24px;
}

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px auto 60px auto;
}

.link_icon {
  width: 220px;
  margin: 20px 0 0 0;
  border-radius: 50%;
  background-color: transparent;
}

@media only screen and (max-width: 580px){
  .nav_link {
    font-size: 18px;
    margin: 0 auto;
  }
  
  .nav_menu {
    margin: 30px auto 60px auto;
    width: 95%;
  }
}